@model List<Category>

<ul class="container">
    <li>
        <a asp-action="index" asp-controller="product">All Products</a>
    </li>
    @foreach (var category in Model)
    {
        if (category.Parent == null)
        {
            if (category.SubCategories.Count == 0)
            {
                <li>
                    <a asp-action="index" asp-controller="product" asp-route-category="@category.Name">@category.Name</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-action="index" asp-controller="product" asp-route-category="@category.Name">@category.Name</a>
                    <div class="line"></div>
                    <div class="children">
                        @foreach (var subcategory in category.SubCategories)
                        {
                            <a asp-action="index" asp-controller="product" asp-route-category="@subcategory.Name">@subcategory.Name</a>
                        }
                    </div>
                </li>
            }
        }
    }
</ul>
