@using Maxmod.ViewModels.Checkout
@model PurchaseVM

@{
    ViewData["Title"] = "Purchase";
}

<div class="wrapper" style="margin-top:50px;margin-bottom:200px">
    <div class="checkout container">
        <form id="payment-form" method="post" asp-controller="checkout" asp-action="create">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Buying @Model.Quantity.Sum() items</h5>
                    <p class="card-text"><small class="text-muted">Price: $@Model.TotalPrice.Sum()</small></p>
                </div>
            </div>
            <section>
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>

            <!-- Include hidden fields for all properties -->
            @for (int i = 0; i < Model.Quantity.Count; i++)
            {
                @Html.HiddenFor(m => m.Quantity[i])
                @Html.HiddenFor(m => m.ProductWeightId[i])
                @Html.HiddenFor(m => m.TotalPrice[i])
            }
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.Nonce, new { @id = "nonce" })

            <hr />
            <button class="btn" style="border-radius:8px;padding:4px 12px;margin:20px auto 0" type="submit">
                <span>Confirm payment - $@Model.TotalPrice.Sum()</span>
            </button>
        </form>
    </div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin'
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    return;
                }

                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
</script>
