@{
    ViewData["Title"] = "Settings";
}
@model Settings

<div class="mb-4">
    <h3 class="text-primary">Modified</h3>
    <span style="color:hotpink;font-size:18px">Last modified @Model.ModifiedAt by @Model.ModifiedBy</span>
</div>
<div class="mb-4">
    <h3 class="text-primary">Intro Title</h3>
    <p style="font-size:18px">@Model.IntroTitle</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Intro Description</h3>
    <p style="font-size:18px">@Model.IntroDescription</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Intro Image</h3>
    <img style="width:150px; height:150px; object-fit:cover;" src="~/client/assets/images/misc/@Model.IntroImage">
</div>
<div class="mb-4">
    <h3 class="text-primary">Marquee Text 1</h3>
    <p style="font-size:18px">@Model.MarqueeText1</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Marquee Text 2</h3>
    <p style="font-size:18px">@Model.MarqueeText2</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Promo Title</h3>
    <p style="font-size:18px">@Model.PromoTitle</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Promo Description</h3>
    <p style="font-size:18px">@Model.PromoDescription</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Promo Image</h3>
    <img style="width:150px; height:150px; object-fit:cover;" src="~/client/assets/images/misc/@Model.PromoImage">
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Heading 1</h3>
    <p style="font-size:18px">@Model.SmallPromoHeading1</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Title 1</h3>
    <p style="font-size:18px">@Model.SmallPromoTitle1</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Text 1</h3>
    <p style="font-size:18px">@Model.SmallPromoText1</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Image 1</h3>
    <img style="width:150px; height:150px; object-fit:cover;" src="~/client/assets/images/misc/@Model.SmallPromoImage1">
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Heading 2</h3>
    <p style="font-size:18px">@Model.SmallPromoHeading2</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Title 2</h3>
    <p style="font-size:18px">@Model.SmallPromoTitle2</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Text 2</h3>
    <p style="font-size:18px">@Model.SmallPromoText2</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Image 2</h3>
    <img style="width:150px; height:150px; object-fit:cover;" src="~/client/assets/images/misc/@Model.SmallPromoImage2">
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Heading 3</h3>
    <p style="font-size:18px">@Model.SmallPromoHeading3</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Title 3</h3>
    <p style="font-size:18px">@Model.SmallPromoTitle3</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Text 3</h3>
    <p style="font-size:18px">@Model.SmallPromoText3</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Small Promo Image 3</h3>
    <img style="width:150px; height:150px; object-fit:cover;" src="~/client/assets/images/misc/@Model.SmallPromoImage3">
</div>
<div class="mb-4">
    <h3 class="text-primary">Big Promo Heading</h3>
    <p style="font-size:18px">@Model.BigPromoHeading</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Big Promo Title</h3>
    <p style="font-size:18px">@Model.BigPromoTitle</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Big Promo Text</h3>
    <p style="font-size:18px">@Model.BigPromoText</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Big Promo Image</h3>
    <img style="width:150px; height:150px; object-fit:cover;" src="~/client/assets/images/misc/@Model.BigPromoImage">
</div>
<div class="mb-4">
    <h3 class="text-primary">Address</h3>
    <p style="font-size:18px">@Model.Address</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Phone</h3>
    <p style="font-size:18px">@Model.Phone</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Email</h3>
    <p style="font-size:18px">@Model.Email</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">Contact Text</h3>
    <p style="font-size:18px">@Model.ContactText</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">About Title</h3>
    <p style="font-size:18px">@Model.AboutTitle</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">About Description</h3>
    <p style="font-size:18px">@Model.AboutDescription</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">About Box Heading</h3>
    <p style="font-size:18px">@Model.AboutBoxHeading</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">About Box Title</h3>
    <p style="font-size:18px">@Model.AboutBoxTitle</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">About Box Text</h3>
    <p style="font-size:18px">@Model.AboutBoxText</p>
</div>
<div class="mb-4">
    <h3 class="text-primary">About Box Image</h3>
    <img style="width:150px; height:150px; object-fit:cover;" src="~/client/assets/images/misc/@Model.AboutBoxImage">
</div>
<div style="display:grid;gap:10px" class="mb-4">
    <a class="btn btn-primary" asp-action="update" asp-controller="settings">Update</a>
</div>