@{
    var subTotal = Model.Sum(x => x.TotalPrice);
}
@model List<CartItemVM>

<button class="header-cart">
    <div class="cart-icon">
        <img src="~/client/assets/icons/cart_icon.svg" alt="" />
        <span>@Model.Count</span>
    </div>
    <span class="header-cart-total">$@subTotal</span>
</button>
<div class="cart-drawer hidden">
    <div class="drawer-top">
        <h3>Shopping cart (@Model.Count)</h3>
        <button>
            <img src="~/client/assets/icons/close_icon.svg" alt="" />
        </button>
    </div>
    <div class="line"></div>
    <ul class="drawer-middle">
        @foreach (var cartItem in Model)
        {
            <li class="product">
                <a asp-action="detail" asp-controller="product" asp-route-id="@cartItem.ProductId">
                    <img src="~/client/assets/images/product/@cartItem.ProductImage"
                         alt="" />
                </a>
                <div class="right-side">
                    <div class="product-detail">
                        <a asp-action="detail" asp-controller="product" asp-route-id="@cartItem.ProductId">@cartItem.Product</a>
                        @if (cartItem.Weight != "Default")
                        {
                            <p>Weight: <span>@cartItem.Weight</span></p>
                        }
                        @if (cartItem.DiscountPrice != 0)
                        {
                            <span class="price">$@cartItem.DiscountPrice</span>
                            <span style="text-decoration:line-through">$@cartItem.Price</span>
                        }
                        else
                        {
                            <span class="price">$@cartItem.Price</span>
                        }
                    </div>
                    <div class="cart-control">
                        <button id="cart-remove" data-id="@cartItem.ProductWeightId" class="btn">
                            <img src="~/client/assets/icons/trashcan_icon.svg"
                                 alt="" />
                        </button>
                        <div class="count-control">
                            <button data-id="@cartItem.ProductWeightId" class="decrease" id="decrease-btn">-</button>
                            <input value="@cartItem.Quantity" type="number" id="count-input" />
                            <button data-id="@cartItem.ProductWeightId" class="increase" id="increase-btn">+</button>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    <div class="line"></div>
    <div class="drawer-bottom">
        <div class="subtotal-container">
            <span>Subtotal (@Model.Count)</span>
            <span class="subtotal">$@subTotal</span>
        </div>
        <div class="wrapper">
            <a class="btn" asp-action="index" asp-controller="cart">View Cart</a>
            <a class="btn" href="#">Checkout</a>
        </div>
    </div>
</div>
<div class="overlay hidden"></div>