@inject ISettingsService _settingsService
@{
    ViewData["Title"] = "About Us";
    var settings = await _settingsService.GetSettingsAsync();
}
@section Styles {
    <link rel="stylesheet" href="~/client/assets/css/about.min.css" />
}

<div class="container">
    <div class="breadcrumbs">
        <span><a asp-controller="home" asp-action="index">Home </a>>&nbsp;</span><span> About Us</span>
    </div>
    <!-- About Start -->
    <section class="about-section">
        <h1 class="about-title">@settings.AboutTitle</h1>
        <p class="about-description">@settings.AboutDescription</p>
        <div class="about-box">
            <img class="box-image"
                 src="~/client/assets/images/misc/@settings.AboutBoxImage"
                 alt="" />
            <div class="right-side">
                <span class="box-text">@settings.AboutBoxHeading</span>
                <h2 class="box-title">@settings.AboutBoxTitle</h2>
                <p class="box-description">@settings.AboutBoxText</p>
                <a class="btn" href="#">Shop Now</a>
            </div>
        </div>
    </section>
</div>
